ul
{
    
 list-style:none;
 margin: 0;
 padding: 0;
 position:fixed;
 top: 0;
 width: 99%;
}
li
{
    float: left;
    background-color: white;

}
li a
{
  color: black;
    display: block;
  text-align: center;
  padding: 10px 10px;
  border-style: double;
}
li a:hover
{
  color:black;
  font-size:x-large;
}
body
{
  background-repeat: no-repeat;
  background-size: 100%;
}
h1.one
{
text-align: center;
color: white ;
}
h1
{
  color: black;
  text-align: center;
  font-size: x-large;  
}
h2{
  text-align: center;
  color: red;
}
button
{
  width:98%;
}
table
{
  font-family:sans-serif;
  color: blue;
}
a
{
  font-size: larger;
  font-family:  Times, serif;
}
p
{
  text-align: center;
}


